# Build results
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Docker
*.pid
*.seed
*.pid.lock
.env

# Rider / VSCode / Visual Studio
.idea/
.vscode/
*.dbmdl
*.bak
*.swp
*.tmp

# OS files
.DS_Store
Thumbs.db

# Visual Studio
.vs/